@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #f7cb15;
    --green: #87a878;
    --pink: #d699ac;
    --orange: #e06c00;
    --liquirice: #130303;
    --white: #ffffff;
    --serif: "Times New Roman", Times, serif;
    --sans-serif: "Montserrat", sans-serif;
}

body {
    background-color: var(--white);
    background-image: url("./../imgs/doodlefacemobile.png");
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
    padding: 0 20px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    height: 100px;
}

/* UL */
.header-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* tutti i LI */
.header-list-item {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--liquirice);
    transition: all 0.3s ease;
}

.header-list-item a {
    color: inherit;
    text-decoration: none;
}

.home {
    color: var(--yellow);
    text-decoration: underline;
    cursor: pointer;
}

.works:hover,
.about-me:hover,
.contacts:hover {
    transform: scale(1.10);
    transition: all 0.3s ease;
}


.works:hover {
    color: var(--orange);
}

.about-me:hover {
    color: var(--green);
}

.contacts:hover {
    color: var(--pink);
}


.main-title {
 
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-title-yellow {
    position: relative;
    font-size: 45px;
    left: -50px;
    top: 5px;
    font-family: var(--serif);
    font-weight: 200;
    font-style: italic;
    color: var(--yellow);
}

.main-title-orange {
    position: relative;
    font-size: 35px;
    left: 25px;
    top: -5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--orange);
}

.second-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: var(--pink)
}

.description {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: var(--green)
}

footer {
    background-color: var(--yellow);
    width: 100%;
    position: absolute;
    top: 100dvh;
    left: 0;
    height: fit-content;
    padding: 20px 0;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img-container img {
    width: 40px;
}

footer>p {
    text-align: center;
    padding-top: 20px;
    color: var(--liquirice);
    font-family: var(--serif);
    font-weight: 200;
    font-size: 15px;
}

/* tablet layout */
@media only screen and (min-width: 768px) {

    body {
        background-color: var(--white);
        background-image: url("./../imgs/doodlefacedesktop.png");
        background-position: center;
        background-size: 1200px;
        background-repeat: no-repeat;
    }

    .header-list {
        flex-wrap: nowrap;
    }

    .header-list-item {
        font-size: 18px;
    }

    .main-title-yellow {
        font-size: 60px;
        left: -70px;
        top: 30px;
    }

    .main-title-orange {
        font-size: 50px;
        left: 60px;
        top: 10px;
    }

    .second-title {
        margin-top: 15px;
    }

    .name,
    .description {
        font-size: 20px;
    }
}

/* desktop layout */
@media only screen and (min-width: 1024px) {

    body {
        background-color: var(--white);
        background-image: url("./../imgs/doodlefacemobile.png");
        background-position: center;
        background-size: 1300px;
        margin-top: 100px;
        background-repeat: no-repeat;
    }

    .main-title {
        bottom: -200px;
    }

    .second-title {
        margin-bottom: 130px;

    }

    .main-title-yellow {
        font-size: 100px;
    }

    .main-title-orange {
        font-size: 75px;
        left: 90px;
    }

    .name,
    .description {
        font-size: 20px;
    }
}